@model GetShip.Models.Employe

@{
    ViewBag.Title = "DetailsEmploye";
    ViewBag.Avatar = Model.ApplicationUser.Galery.ImageData;
}

<h2>DetailsEmploye</h2>

<div>
    <h4>Employe</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Galery)
        </dt>

        <dd>
            <img src="data:image;base64,@System.Convert.ToBase64String(ViewBag.Avatar)"  style="height:70px"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentLocation)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Selarys)
        </dd>
   
            <h3>Profesion:</h3>

        <dt>
            @Html.DisplayNameFor(model => model.Profesion.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesion.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profesion.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesion.Description)
        </dd>

        <h3>Wather:</h3>

        <dt>
            @Html.DisplayNameFor(model => model.CurrendWather.Temp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrendWather.Temp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrendWather.WatherStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrendWather.WatherStatus)
        </dd>
    </dl>
</div>
@foreach(var s in @Model.Selarys)
{
    @s
}
<p>
    @Ajax.ActionLink("Selary info", "EmployeSelary", "User", new { id = Model.Id }, new AjaxOptions
                                                                                                 {
                                                                                                     UpdateTargetId = "selary-list",
                                                                                                     HttpMethod = "Gey",
                                                                                                     OnSuccess = "OnSuccess",
                                                                                                     LoadingElementId = "prgress"
                                                                                                 })       |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div id="selary-list">
</div> 