@model List<GetShip.Models.Employe>

@{
    ViewBag.Title = "EmployList";
}

<h2>EmployList</h2>

<p>
    @Html.ActionLink("Create New", "AddEmployee")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.CurrentLocation)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="data:image;base64,@System.Convert.ToBase64String(item.ApplicationUser.Galery.ImageData)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentLocation)
        </td>
        <td>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "DetailsEmploye", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
